name: Test
on:
  push:
    branches:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  lint-markdown:
    uses: PurpleBooth/common-pipelines/.github/workflows/markdown-check.yml@main
  commit-checks:
    uses: PurpleBooth/common-pipelines/.github/workflows/commit-check.yml@main
  rust-checks:
    uses: PurpleBooth/common-pipelines/.github/workflows/rust-check.yml@main

  release:
    if: github.ref == 'refs/heads/main'
    needs:
      - commit-checks
      - lint-markdown
      - rust-checks
    outputs:
      version_bump: ${{ steps.release.outputs.version_bump }}
      current_version: ${{ steps.release.outputs.current_version }}
      previous_version: ${{ steps.release.outputs.previous_version }}
    runs-on: ubuntu-latest
    steps:
      - uses: PurpleBooth/versio-release-action@v0.1.9
        id: release

  publish-to-cargo:
    if: needs.release.outputs.version_bump
    needs:
      - release
    uses: PurpleBooth/common-pipelines/.github/workflows/release-rust-library.yml@main
    with:
      previous_version: ${{ needs.release.outputs.previous_version }}
      current_version: ${{ needs.release.outputs.current_version }}
    secrets:
      cargo_token: ${{ secrets.CARGO_TOKEN }}
